@font-face {
  font-family: 'FSAlbert';
  font-weight: normal;
  font-style: normal;
  src: local('FSAlbert'),
    url('assets/fonts/fsalbert-regular.woff') format('woff'),
    url('assets/fonts/fsalbert-regular.woff2') format('woff2');
}
